<div class="col-xs-6">
        <div class="col-xs-12 form-group">
                <div class="col-xs-3">Select Company :</div>
                <div class="col-xs-6">
                    <select class="form-control" id="sel1" [(ngModel)]="company">
                        <option>Nokia</option>
                        <option>Samsung</option>
                        <option>Iphone</option>
                        <option>HTC</option>
                        <option>Blackberry</option>
                    </select>
                </div>
        </div>

        <div class="col-xs-12 form-group">
                <div class="col-xs-3">Select Mobile :</div>
                <div class="col-xs-6"><input type="text" [(ngModel)]="mobile" class="form-control"/></div>
        </div>

        <div class="col-xs-12 form-group">
                <div class="col-xs-3">Feedback :</div>
                <div class="col-xs-6">
                    <textarea [(ngModel)]="feedback" class="form-control"></textarea>
                </div>
        </div>
        <div class="col-xs-12 form-group">
                <div class="col-xs-3">Rating :</div>
                <div class="col-xs-6">
                    <label class="col-xs-6"><input type="radio" name="optradio" [(ngModel)]="rating" value="positive">Positive</label>
                    <label class="col-xs-6"><input type="radio" name="optradio"[(ngModel)]="rating"  value="negative">Negative</label>
                </div>
        </div>
        <div class="col-xs-12 form-group">
                <div class="col-xs-3">User Name :</div>
                <div class="col-xs-6"><input type="text" [(ngModel)]="uname" class="form-control"/></div>
        </div>
    <div class="col-xs-9 text-right">
        <button class="btn btn-primary" (click)="giveFeedback()">Give Feedback</button>
    </div>
</div>
<div class="col-xs-6">
        <div class="">
                <rating [all]="getTotalRating()" [positive]="getPositiveRating()" [negative]="getNegativeRating()"></rating>
        </div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Company</th>
                <th>Mobile</th>
                <th>Feedback</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let feedback of feedbackList">
                <td>{{feedback.name | EmployeeTitle}}</td>
                <td>{{feedback.company}}</td>
                <td>{{feedback.mobile}}</td>
                <td>{{feedback.feedback}}</td>
                <td>{{feedback.rating}}</td>
            </tr>
        </tbody>
    </table>
</div>