<div class="col-xs-6">
        <div class="col-xs-12 form-group">
                <div class="col-xs-3">Select Company :</div>
                <div class="col-xs-6">
                    <select class="form-control" id="sel1" [(ngModel)]="company">
                        <option>Nokia</option>
                        <option>Samsung</option>
                        <option>Iphone</option>
                        <option>HTC</option>
                        <option>Blackberry</option>
                    </select>
                </div>
        </div>

        <div class="col-xs-12 form-group">
                <div class="col-xs-3">Select Mobile :</div>
                <div class="col-xs-6"><input type="text" [(ngModel)]="mobile" class="form-control"/></div>
        </div>

        <div class="col-xs-12 form-group">
                <div class="col-xs-3">Feedback :</div>
                <div class="col-xs-6">
                    <textarea [(ngModel)]="feedback" class="form-control"></textarea>
                </div>
        </div>
        <div class="col-xs-12 form-group">
                <div class="col-xs-3">Rating :</div>
                <div class="col-xs-6">
                    <label class="col-xs-6"><input type="radio" name="optradio1" [(ngModel)]="rating" value="positive">Positive</label>
                    <label class="col-xs-6"><input type="radio" name="optradio1" [(ngModel)]="rating" value="negative">Negative</label>
                </div>
        </div>
        <div class="col-xs-12 form-group">
                <div class="col-xs-3">User Name :</div>
                <div class="col-xs-6"><input type="text" [(ngModel)]="uname" class="form-control"/></div>
        </div>
    <div class="col-xs-9 text-right">
        <button class="btn btn-primary" (click)="giveFeedback()">Give Feedback</button>
    </div>
</div>
<div class="col-xs-6">
        <div class="">
            <rating *ngIf="feedbackList"
                [all]="getTotalRating()" 
                [positive]="getPositiveRating()" 
                [negative]="getNegativeRating()"
                (changeRating)="onRatingChange($event)">
            </rating>
        </div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Company</th>
                <th>Mobile</th>
                <!--<th>Feedback</th>-->
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let feedback of feedbackList">
                <tr *ngIf="defaultRating=='all' || defaultRating==feedback.rating" [routerLink]="['/feedback',feedback.feedback]">
                    <td>{{feedback.name | EmployeeTitle}}</td>
                    <td>{{feedback.company}}</td>
                    <td>{{feedback.mobile}}</td>
                    <!--<td>{{feedback.feedback}}</td>-->
                    <td>{{feedback.rating}}</td>
                </tr>
            </ng-container>
            <tr *ngIf="!feedbackList">
                    <td colspan="4">{{errMsg}}</td>
                </tr>
                <tr *ngIf="feedbackList && feedbackList.length == 0">
                        <td colspan="4">No Data Available</td>
                    </tr>
        </tbody>
    </table>
</div>